<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfilPhoto.jpg" 
    class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy analista QA Manual y estudiante de programación. 
                Me encuentro en busca de un empleo que me ayude a crecer 
                tanto profesionalmente como en lo personal. Soy adaptable, 
                responsable, puntual y capaz de trabajar en equipo.
            </p>
        </span>
    </div>
</div> 