<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Base de Datos para Pc Fix Reparaciones</h1>
            <P>Creación de una base de datos de clientes para enviarles ofertas, descuentos y combos en productos de computación (periféricos, mouse, pen drivers).</P>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/pc fix 2020.png" class="img-fluid img-proyecto" alt="">
        </div>
    </div>
</div>