<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Argentina Programa - INTI</h1> <h4> (Mar 2021 - Dic 2022)</h4></li>
            <p>Programador web full-stack junior</p>
        </ul>
        <ul>
            <li><h1>UTN - CHACO</h1> <h4> (Mar 2021 - Dic 2021)</h4></li>
            <p>Testeador de Software - QA Manual</p>
        </ul>
        <ul>
            <li><h1>CFP N°404 Arturo Jauretche</h1> <h4> (Mar 2018 - Dic 2018)</h4></li>
            <p>Técnico reparador de PC</p>
        </ul>
        <ul>
            <li><h1>Mariano Moreno Lomas</h1> <h4> (Mar 2017 – Dic 2017)</h4></li>
            <p>Técnico reparador de Notebooks y Celulares</p>
        </ul>
        <ul>
            <li><h1>Colegio Saavedra</h1> <h4> (Mar 2006 - Dic 2008)</h4></li>
            <p>Bachiller en Humanidades y Ciencias Sociales</p>
        </ul>
    </div>
</div>